/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter-Variable', sans-serif;
  font-variation-settings: 'wdth' var(--main-font-weight);
  background-color: var(--background-color, #FFFFFF);
  color: var(--accent-color, #000000);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.header {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 136px clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 25px;
}

@media (width <= 375px) {
  .header {
    padding: 120px 14px 25px;
  }
}

.content__width {
  width: var(--content-width);
}

.header__logo {
  font-family: var(--accent-font);
  color: var(--font-color), #000;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__title {
  font-family: var(--accent-font);
  color: var(--accent-color), #000;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateX(10px);
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  color: var(--font-color), #000;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  text-transform: uppercase;
  font-style: normal;
  block-size: 14px;
  padding: 0px;
  cursor: pointer;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  color: var(--low-opacity-color);
  animation: arrow 0.5s infinite ease-in-out alternate;
}

@keyframes arrow {
  0% {
    translate: 0px;
  }
  100% {
    translate: 4px;
  }
}

.theme-menu__button:disabled {
  color: var(--low-opacity-color);
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--low-opacity-color);
}

.theme-menu__button:hover {
  color: var(--low-opacity-color);
  transition: color 0.3s;
}

.theme-menu__button:focus-visible {
  outline: none;
  color: var(--low-opacity-color);
  transition: color 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--low-opacity-color);
  transform: scale(0);
}

.theme-menu__button:focus-visible::after {
  color: var(--low-opacity-color);
  transform: scale(1);
  transition: transform 0.3s;
}

.content {
  margin: 0px auto;
}

.card {
  display: grid;
  width: 100%;
  background-color: var(--background-color, #FFFFFF);
  border: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card-image__container {
  display: flex;
  position: relative;
}

.card__lable {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font), 'Press Start 2P';
  color: var(--font-color), #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 #fff, 
   0 1px #fff, 
   1px 0 #fff, 
   0 -1px #fff;
  opacity: 50%;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__lable {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
      text-shadow: none;
  }
}

.card__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--heading-font-weight);
  font-size: 18px;
  line-height: 22px;
  min-height: 31px;
  padding: 3px 24px 5px 10px;
}

@media (width <= 375px) {
  .card__title {
    padding: 4px 10px 6px;
  }
}

.card__text {
  margin: 27px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.like-buttons__wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 25px 25px;
  gap: 12px; 
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  padding: 12.5px 37px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--font-color), #000;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  cursor: pointer;
}

.button__effect:focus {
  outline: none;
}

.button__effect:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.3s;
}

.button__effect {
  position: relative;
}

.button__effect::after {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.5s;
}

.button__effect:hover::after {
  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-text__color {
  position: relative;
  color: white;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  inline-size: 39px;
  block-size: 36px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: 0.3s;
}

.sparks {
  opacity: 0;
}

.like-icon {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin: 0px auto;
  padding: 50px clamp(2.15625rem, -1.0458rem + 13.662vw, 11.25rem) 103px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.save__button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  min-width: 335px;
  padding: 18.5px 21px 18.5px 19px;
  white-space: nowrap; /* костыль?? */
}

.save-button__img {
  max-width: 21px;
  height: auto;
  mix-blend-mode: difference;
  z-index: 1;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    padding: 15px 19.5px 15px 20.5px;
  }

  .save-button__img {
    max-width: 28px;
    height: auto;
  }
}
