/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size, 18px);
  font-variation-settings: 'wgth' var(--text-weight);
  line-height: 1.2;
  color: var(--maint-font-color, #000);
  background-color: var(--background-color, #fff);
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--background-image);
}

.content {
  margin: 0 auto;
}

.content-width {
  inline-size: var(--content-width);
}

.header {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 128px clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  margin: 100px auto;
  border: 2px solid var(--accent-color, #000); /* проверить на currentcolor */
}

.title {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  line-height: 100%;
  color: var(--accent-font-color, #000);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
  color: var(--accent-font-color, #000);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: #fff;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wgth' var(--title-weight);
  padding: 5px 10px;
  line-height: 1.2;
  border-block-end: 2px solid var(--accent-color, #000);
}

.card__image-container {
  display: flex;
  position: relative;
  max-block-size: 696px;
  aspect-ratio: 1;
  border-block-end: 2px solid var(--accent-color, #000);
  overflow: hidden;
}

.img-set {
  display: block;
  width: 100%;
  height: 100%;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.mac-img {
  filter: opacity(0.8) contrast(1.4);
}

.snow-img {
  filter: brightness(1.5);
}

.cat-img {
  filter: contrast(3.0) opacity(0.5) grayscale(1);
}

.cafe-img {
  filter: invert(1);
}

.pool-img {
  filter: hue-rotate(320deg);
}

.book-img {
  filter: saturate(0.5);
}

.moscow-img {
  filter: grayscale(100%);
}

.tram-img {
  filter: sepia(40%) contrast(115%);
}

.card__image-lable {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, monospace);
  color: #000;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  opacity: 50%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--lable-stroke-color), 
   0 1px var(--lable-stroke-color), 
   1px 0 var(--lable-stroke-color), 
   0 -1px var(--lable-stroke-color);
}

@supports((text-stroke: 1px var(--lable-stroke-color)) or (-webkit-text-stroke: 1px var(--lable-stroke-color))) {
    .card__image-lable {
        -webkit-text-stroke: 1px var(--lable-stroke-color);
        text-stroke: 1px var(--lable-stroke-color);
        text-shadow: none;
    }
}

.card__content {
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: space-between;
}

.buttons__container {
  margin-block-start: 25px;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
}

.button {
  border: 2px solid var(--accent-color, #000);
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color, #000);
  transition: 0.3s ease;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  z-index: 0;
}

.button:hover::after {
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
}

.button__text {
  font-family: var(--accent-font, monospace);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  width: 39px;
  height: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
  transition: 0.3s ease;
}

.card__like-button {
  font-family: var(--accent-font, monospace);
  inline-size: 130px;
  block-size: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  background-color: #fff;
}

.like-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.footer {
  margin: 0 auto;
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
}

.footer__save-button {
  padding: 15px 19px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
}

.footer__save-button-icon {
  inline-size: 21px;
  aspect-ratio: 1;
  object-fit: contain;
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
  z-index: 1;
}

.save__dialog[open] {
  display: flex;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
  inline-size: 353px;
  block-size: 191px;
  background-color: #fff;
  border: 2px solid var(--accent-color, #000);
  justify-content: space-between;
}

/* попробовать через flex-shrink */

.save__dialog-text {
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: inherit;
  display: grid;
  grid-template-columns: min-content 234px;
  gap: 20px;
  align-items: center;
}

.save__dialog-icon {
  display: block;
  inline-size: 39px;
  block-size: 39px;
  object-fit: contain;
  object-position: center;
}

.save__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.page:has(.save__dialog[open]) {
  overflow: hidden;
}

.save__dialog-button {
  block-size: 34px;
  max-inline-size: 293px;
  background-color: #fff;
}

@media (width <= 375px) {
  .card__image-lable{
    right: 11px;
  }

  .footer__save-button {
    flex-direction: column;
  }

  .header {
    padding: 120px clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  }

  .card__title {
    padding: 3px 10px 4px;
  }

  .content-width {
    inline-size: 100%;
  }

  .footer__save-button-icon {
    inline-size: 29px;
    aspect-ratio: 1;
  }
}






