/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --main-font-size: 18px;
    --text-weight: 400;
    --title-weight: 700;
    --main-font-color: #000;
    --accent-font-color: #000;
    --background-color: #fff;
    --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}